* {
    padding: 0;
    margin: 0;
}

.Register {
    background-image: url("../../../assets/images/girls.webp");
    background-size: cover;
    height: 480px;
    padding: 90px 0 87px 100px;
    box-sizing: border-box;
}

.title {
    width: 907px;
    font-family: 'Russo One';
    font-weight: 400;
    max-width: 100%;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.14em;
    color: #FFFFFF;
}