.body {
  background-image: url(../../assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrap {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.title_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
}

.title,
.title code {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 101px;
  text-align: center;
  letter-spacing: 0.14em;

  color: #ffffff;
}

.title svg {
  font-family: 'Russo One', sans-serif;
  width: 100%;
  height: 100%;
  margin-top: calc(102px - 82px);
}
.title svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 60px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8f00ff;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8f00ff;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #8f00ff;
    stroke-width: 3;
  }
  100% {
    fill: #8f00ff;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@media screen and (max-width: 600.9px) {
  .title {
    width: 90%;
    margin: 0 auto;
  }
  .title,
  .title code {
    font-size: 24px;
    line-height: 31px;
  }
  .body {
    height: 80vh;
  }
  .title svg {
    transform: scale(1.5);
    margin-top: calc(102px - 100px);
  }
}

@media (min-width: 601px) and (max-width: 1059.9px) {
  .title,
  .title code {
    font-size: 30px;
    line-height: 41px;
  }
}
