.wrap{
  z-index: 10;
  padding: 50px 100px;
}

.bottomNavigation {
  backdrop-filter        : blur(5px);
  overflow               : hidden;
  position               : fixed;
  -webkit-box-pack       : start;

  top         : 0;
  margin-top     : 0;
  width          : 40%;
  right           : 0;
  justify-content: space-around !important;
  flex-direction : row;
  min-height: 56px;
}


.bottomNavigation a,
.bottomNavigation a span {
  max-width : 60px;
  min-width : 60px;
  padding   : 0;
  text-align: center;
  font-family: 'Russo One';
}

@media (min-width:0) and (max-width:600.9px) {

  .bottomNavigation {
      overflow       : hidden;
      position       : fixed;
      bottom         : 0;
      margin-top     : 2rem;
      width          : 100%;
      left           : inherit;
      justify-content: space-around !important;
      flex-direction : row;
      min-height: 56px;
      top: inherit;
  }

  .bottomNavigation a {
      max-width: 20px;
      min-width: 20px;
      padding  : 0;
      max-width: 20%;
      min-width: 20%;
  }

  .bottomNavigation a span{
      max-width: 100%;
      min-width: 100%;
  }
}