.wrap {
  z-index: 10;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.img_wrap {
  width: 50%;
}

.bottomNavigation {
  backdrop-filter: blur(5px);
  overflow: hidden;
  -webkit-box-pack: start;

  top: 0;
  margin-top: 0;
  width: 40%;
  right: 0;
  justify-content: space-around !important;
  flex-direction: row;
  min-height: 56px;
  background-color: inherit !important;
}

.bottomNavigation a,
.bottomNavigation a span {
  max-width: 60px;
  min-width: 60px;
  padding: 0 !important;
  text-align: center;
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.btn {
  background: #8f00ff;
  border-radius: 5.8px;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 70px;
}

.btn:is(:hover, :active) {
  background: #7000e0;
}

@media (min-width: 0) and (max-width: 600.9px) {
  .wrap {
    padding: 25px 15px;
  }
  .bottomNavigation {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 90% !important;
    margin: 0 5% 1rem;
    left: inherit;
    justify-content: space-around !important;
    flex-direction: row;
    top: inherit;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50px;
    min-height: 70px;
    max-height: 70px;
  }

  .bottomNavigation a {
    max-width: 20px;
    min-width: 20px;
    padding: 0;
    max-width: 20%;
    min-width: 20%;
  }

  .bottomNavigation a span {
    max-width: 100%;
    min-width: 100%;
  }

  .img_wrap img {
    width: 8rem;
  }

  .btn {
    margin: 0;
    padding: 7px 15px;
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 1059.9px) {
  .wrap {
    padding: 30px 50px;
  }

  .img_wrap {
    width: auto;
  }

  .img_wrap img {
    width: 10rem;
  }

  .btn {
    margin-left: 0;
  }

  .bottomNavigation a,
  .bottomNavigation a span,
  .btn {
    font-size: 14px;
  }
}
