.wrap {
  background: #160448;
  padding: 80px 100px;
}

.wrap h1 {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  color: #ffffff;
  margin-bottom: 2rem;
}

.main {
  background: #160448;

  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 6px;
  box-shadow: -5px -3px 20px #cc00ff, 5px 3px 20px #68e1fd;
  display: grid;
  grid-template-areas: 'one two three five' 'seven eight eight nine';
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(90deg, #DA02FF 0%, #68E1FD 100%);

}


.main::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #160448;
  border-radius: 1px;
  overflow: hidden;
}

.main img {
  object-fit: contain;
  z-index: 10;
  transition: 0.2s all linear;
  border: 2px solid transparent;
}

.main img:hover {
  border: 2px solid #8f00ff;
  border-radius: 10px;
  cursor: pointer;
}

.i1 {
  grid-area: one;
  border-top-left-radius: 2px;
}

.i1_block {
  grid-area: two;
}

.i4 {
  grid-area: three;
}

.i5 {
  grid-area: five;
}

.main .i3_block img {
  object-fit: cover !important;
  width: 100%;
}
.main div,
.main img {
  height: 100%;
  object-fit: cover;
}
.main div img {
  height: 100%;
  object-fit: cover;
}
.main .i3_block {
  grid-area: seven;
}
.main .i3_block,
.main div {
  display: flex;
  flex-direction: column;
  height: 380px;
}
.i7 {
  height: 190px;
}
.i8 {
  height: 190px;
}

.i9 {
  grid-area: eight;
  width: 100%;
}

.i10,
.i5 {
  width: 100%;
  object-fit: cover !important;
}
.i10 {
  grid-area: nine;
}

@media (min-width: 0) and (max-width: 600.9px) {
  .wrap {
    padding: 0 30px;
  }

  .wrap h1 {
    text-align: center;
  }

  .main {
    grid-template-areas:
      'one'
      'three'
      'five';
  }
  .i3_block,
  .i1_block {
    display: none !important;
  }

  .main div {
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 1059.9px) {
  .wrap {
    padding: 0 20px;
  }

  .main .i3_block,
  .main div {
    height: 300px;
  }
}
