* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

.MuiBottomNavigation-root {
  height: 2rem;
  display: flex;
  flex-direction: row;
}

span.MuiTouchRipple-root {
  display: none;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
} */

@font-face {
  font-family: 'Russo One';
  src: url('./assets/fonts/russo/RussoOne-Regular.ttf') format('ttf');

}



.about__Link {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box !important;
}

.Turnis_Link {
  margin: 0 25px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}


@media (min-width: 0) and (max-width: 600.9px) {
  a.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected.active svg.MuiSvgIcon-root {
    border: 2px solid #8f00ff;
  }

  svg.MuiSvgIcon-root {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    height: 50px;
    padding: 10px;
    width: 50px;
  }

  a.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected.active svg.MuiSvgIcon-root path {
    color: #8f00ff;
  }
  .Turnis_Link {
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    text-decoration: none;
  }
}
@media(min-width:601px) and (max-width:800.9px) {
  .Turnis_Link {
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
  }

}
