* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

.MuiBottomNavigation-root {
  height: 2rem;
  display: flex;
  flex-direction: row;
}

span.MuiTouchRipple-root {
  display: none;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
} */

@font-face {
  font-family: 'Russo One';
  src: url('./assets/fonts/russo/RussoOne-Regular.ttf') format('ttf');
}

.about__Link {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  width: 211px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px !important;
  background-color: transparent !important;
}

.Turnis_Link {
  margin: 0 25px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  flex: none;
  text-decoration: none;
}
.Turnis_Link {
  position: relative;
  padding: 0 0 5px 0;
}
.Turnis_Link:hover {
  color: white;
}
.Turnis_Link:after {
  position: absolute;
  bottom: 0;
  transition: all 0.2s;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: linear-gradient(92.49deg, #ad00ff 14.3%, #00e0ff 100%) !important;

  height: 3px;
}
.Turnis_Link:hover:after {
  width: 100%;

  font-weight: 600;
}
.footerLink {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16.3767px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 168%;
  letter-spacing: 0.14em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Registration_choose__oJn4o .active {
  position: relative;
  background-color: #160448;
  color: #fff;
  border-radius: 10px;
}

.Registration_choose__oJn4o .active:before,
.glow:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(to right, #db00ff, #68e1fd, #00f260);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 10px;
  border-radius: inherit;
  animation: steam 20s infinite alternate;
}

input[type='file'] {
  color: transparent !important;
  width: 100%;
}
input[type='file']::before {
  content: 'Fayl yuklang:';
  margin-right: 65%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  color: #808191;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.Registration_choose__oJn4o .active:after {
  filter: blur(50px);
}

.about__Link {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #ad00ff, #00e0ff);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;

  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.about__Link:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

.ant-image-preview-img {
  max-width: 500px !important;
  min-width: 500px;
  min-height: 500px;
  max-height: 500px !important;
  object-fit: cover;
}

@media (min-width: 0) and (max-width: 600.9px) {
  a.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected.active
    svg.MuiSvgIcon-root {
    border: 2px solid #8f00ff;
  }

  svg.MuiSvgIcon-root {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    height: 50px;
    padding: 10px;
    width: 50px;
  }

  a.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected.active
    svg.MuiSvgIcon-root
    path {
    color: #8f00ff;
  }

  .Turnis_Link {
    margin: 0 0px;
    padding: 0 1rem;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
  }

  .Photo_i3_block__OLDTD .ant-image,
  .Photo_i1_block__y3jpp .ant-image,
  .Photo_main__\+PoMr .ant-image:last-child,
  .Photo_main__\+PoMr .ant-image:nth-last-child(2) {
    display: none !important;
  }
  .ant-image-preview-img {
    min-width: auto;
    min-height: auto;
  }
}

@media (min-width: 601px) and (max-width: 800.9px) {
  .Turnis_Link {
    margin: 0 15px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
  }
  .Photo_main__\+PoMr .ant-image:last-child,
  .Photo_main__\+PoMr .ant-image:nth-last-child(5) {
    display: none;
  }
  .Photo_main__\+PoMr {
    grid-template-areas:
      'one two three'
      'seven eight eight';
  }
}
